// fonts + weights
$graphik: 'Graphik', arial, sans-serif;
$book: 400;
$medium: 500;

// colors
$involve-primary: #52ef96;
$involve-secondary: #8aedf8;
$involve-warning: #ff7a50;
$gray-primary: #a2a2a2;
$gray-secondary: #eaeaea;
$involve-primary-10: rgba(82, 239, 150, 0.1);
$black: #333;
$white: #fff;

$arrow: 'chrome-extension://nbnflpbniahefgfiggjebijfcfffhndj/img/arrow.png';
